#Bigdata
1      2       *       *     *     {{ app_dir }}/newUserRegin.sh >>{{ crontab_log_dir }}/newUserRegin.log 2>&1
5      2       *       *     *     {{ app_dir }}/userLogin.sh >>{{ crontab_log_dir }}/userLogin.log 2>&1
10     2       *       *     *     {{ app_dir }}/userPreserve.sh >>{{ crontab_log_dir }}/userPreserve.log 2>&1
15     2       *       *     *     {{ app_dir }}/payMoneyDay.sh >>{{ crontab_log_dir }}/payMoneyDay.log 2>&1
20     2       *       *     *     {{ app_dir }}/roleClick.sh >>{{ crontab_log_dir }}/roleClick.log 2>&1
25     2       *       *     *     {{ app_dir }}/taskAllDayStat.sh >>{{ crontab_log_dir }}/taskAllDayStat.log 2>&1
30     2       *       *     *     {{ app_dir }}/battleEnd.sh >>{{ crontab_log_dir }}/battleEnd.log 2>&1
35     2       *       *     *     {{ app_dir }}/pointMoneyDay.sh >>{{ crontab_log_dir }}/pointMoneyDay.log 2>&1
40     2       *       *     *     {{ app_dir }}/ltvMoneyDay.sh >>{{ crontab_log_dir }}/ltvMoneyDay.log 2>&1
45     2       *       *     *     {{ app_dir }}/snewUserRegin.sh >>{{ crontab_log_dir }}/snewUserRegin.log 2>&1
50     2       *       *     *     {{ app_dir }}/suserLogin.sh >>{{ crontab_log_dir }}/suserLogin.log 2>&1
55     2       *       *     *     {{ app_dir }}/suserPreserve.sh >>{{ crontab_log_dir }}/suserPreserve.log 2>&1
1      3       *       *     *     {{ app_dir }}/spayMoneyDay.sh >>{{ crontab_log_dir }}/spayMoneyDay.log 2>&1
5      3       *       *     *     {{ app_dir }}/spointMoneyDay.sh >>{{ crontab_log_dir }}/spointMoneyDay.log 2>&1
10     3       *       *     *     {{ app_dir }}/sltvMoneyDay.sh >>{{ crontab_log_dir }}/sltvMoneyDay.log 2>&1
