Hostname={{ inventory_hostname }}
LogFileSize=0
LogFile=/var/log/zabbix/zabbix_agentd.log
PidFile=/var/run/zabbix/zabbix_agentd.pid
Server={{ zabbix_server }}
ServerActive={{ zabbix_server }}
HostMetadataItem=system.uname
